<app-header></app-header>
<main class="container container_one">
  <div class="container__inner">
    <form class="form form_centered" (ngSubmit)="signupForm.valid && login()" #signupForm>
      <h2 class="container__title">Login</h2>
      <div class="form__row">
        <label class="form__label" for="username">Username</label>
        <input required class=form__input type="text" id="username" [(ngModel)]="user.username" name="username" #username>
        <p class="form__error" *ngIf="!username.invalid">
          Username is required
        </p>
      </div>
      <div class="form__row">
        <label class="form__label" for="password">Password</label>
        <input required class=form__input type="password" id="password" [(ngModel)]="user.password" name="password" #password>
        <p class="form__error" *ngIf="!password.invalid">
          Password is required
        </p>
      </div>
      <button [disabled]="!signupForm.valid || this.loading" type="submit" class="btn btn_block" [class.btn_loading]="loading" (click)="login()">Iniciar sesion</button>
    </form>
  </div>
</main>
